aside {
    width: 30%;
    height: 100%;
}

main {
    padding-top: 30px;
}

aside > header {
    width: 100%;
    background-color: aqua;
    padding: 10px;
}

img {
    width: 60px;
    border-radius: 50%;
}

.i {
    padding-left: 170px;
}

i {
    padding-left: 5px;
}

.line {
    display: inline-block;
}

.line1 {
    font-size: 13px;
}

.line2 {
    display: flex;
    flex-wrap: wrap;
}

.fa-bell-slash {
    border-radius: 50%;
    font-size: 20px;
    padding: 20px;
    color: lightskyblue;
    background-color: white;
    margin: 10px;
}

.fa-solid {
    font-size: 20px;
}

#notifiche {
    background-color: lightskyblue;
}

#search-bar {
    padding-left: 10px;
    padding-top: 10px;
}

.fa-magnifying-glass {
    padding-left: 10px;
}

#lista {
    margin-top: 10px;
    padding: 10px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
}



.name {
    position: relative;
}

.time {
    position: absolute;
}